@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,500;1,9..144,500&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,500;1,500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
}


:root{
 --Purple-100: hsl(254, 88%, 90%);
--Purple-500: hsl(256, 67%, 59%);

--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);
--white-gray:hsla(0, 11%, 95%, 1.00);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
}

h2{
    font-size: clamp(20px , 2vw , 30px);
}
h1 , h2{
    line-height: .9;
}
p{
    font-size: 1.2rem;
}
.post{
    background-color: var(--Yellow-100);
}
.ai{
    background-color: var(--Yellow-500);
}
.quicker{
    color: var(--Purple-500);
}
.ten{
    color: var(--Yellow-500);
}
.container{
    width: 68.75rem;
     margin:auto;
}
.bento{
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: var(--white-gray);
}


.bento .row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.row .col{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}
.row .col .content{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 0px 25px;
    border-radius: 10px;
    
}


.row .social{
    display: flex;
    flex-direction: column;
    
    
}
.social .content{
    height: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.social .content .faster{
    width: 110%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5.5rem;
}
.social .faster .social-media{
    width: 100%;
    padding: 2rem .5rem;
    background-color: var(--Purple-500);
    border-radius: 10px;
    text-align: center;
    margin-bottom:20px ;
    color: var(--White);
}
.social-media h1{
    margin: 10px 15px 20px ;
    font-size:3rem;
}
.social .faster .manage{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
}
.manage h2{
    margin: 5px 15px;
}
.social .faster .manage-multiple{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    border-radius: 10px;
    padding:10px 10px;
    row-gap: 2rem;
    overflow: hidden;
}
.manage-multiple img{
    margin-right: -7rem;
    border-radius: 50px;
    background-color: var(--White);
    box-shadow: 0px 5px 5px var(--Purple-100);
}
.social .faster .manage-maintain{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow-500);
    border-radius: 10px;
    padding:10px 10px;
    z-index: 1000;
    overflow: hidden;
}
.manage .manage-maintain img{
    margin-top: 25px;
    margin-bottom: -5rem;
}

.social .content .schedule{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: var(--Purple-100);
    border-radius: 10px;
    overflow: hidden;
}
.social .schedule .schedule-img{
    align-self: center;
    margin-right: -5rem;
}

.social .footer{
    width: 100%;
    height: 30%;
   display: flex;
   flex-direction: row;
   justify-content:space-between ;
   align-items: end;
   margin-top: 15px;
   column-gap: 20px;
}
.social .footer .card-faster{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    border-radius: 10px;
    padding: 3rem 25px;
    margin-left: -5.5rem;
    gap: 10px;
}
.card-faster h1{
    font-size: 40px;
}
.social .footer .card-grow{
    height: 100%;
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;

}
.card-grow h1{
    color: var(--White);
    
}


@media (max-width: 375px) {
    body{
        background-color: var(--white-gray);
    }
    h1,h2 ,p{
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }

    .bento img{
        width: 50%;
        height: 50%;
    }

  .bento .row {
    display: flex;
    flex-direction: column; 
    gap: 20px;             
  }

  .bento .col{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .bento .col .content{
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  
  .bento .social,
  .bento .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;           
    height: 100%;
    
  }
  

  .bento .social .content ,
  .bento .social .content .faster,
  .bento .social .content .social-media,
  .bento .social .content .manage
  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
  .bento .social .content .manage{
    row-gap: 30px;
  }
  .bento .social .manage .manage-multiple,
  .bento .social .manage .manage-maintain{
    width: 100%;
    height: 100%;
  }
  .bento .manage, 
  .bento .schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;       
    padding:50px 20px;
  }
  
  .bento .footer .card-faster,
  .bento .footer .card-grow{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
}