@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,500;1,9..144,500&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,500;1,500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    background-color: var(--white-gray);
    min-height: 100dvh;
}

:root{
--Purple-100: hsl(254, 88%, 90%);
--Purple-500: hsl(256, 67%, 59%);

--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);
--white-gray:hsla(0, 11%, 95%, 1.00);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
}

h1{
    font-size: clamp(2rem , 1vw , 2.5rem);
}
h2{
    font-size: clamp(1.5rem , 1vw  , 2.2rem);
}
h1 , h2{
    line-height: .9;
    letter-spacing: .2;
    font-weight: 600;
}
p{
    font-size: 1.2rem;
}

img{
    display: block;
    width: 80%;
}

.bento{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "b1"
    "b2"
    "b3"
    "b4"
    "b5"
    "b6"
    "b7"
    "b8";
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    max-width: 1200px;
}

.purple{
    background-color: var(--Purple-500);
    color: var(--White);
}
.yellow{
    background-color: var(--Yellow-500);
    color: var(--Black);
    display: flex;
    flex-direction: column;
    text-align: start;
}
.white{
    background-color: var(--White);
    color: var(--Black);
}
.box
{
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    img{
        width: 100%;
        height: auto;
    }
}
.b1{
    grid-area: b1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    img{
        width: 12rem;
        margin:.5rem auto;
    }
}
.b2{
    grid-area: b2;
}

.b3{
    grid-area: b3;
    overflow: hidden;
     img{
        display: block;
        margin-block-end: -4rem;
    }
}
.b4{
    background-color: var(--Purple-100);
    grid-area: b4;
    text-align: center;
}

.b5{ 
    grid-area: b5;
    text-align: center;
    align-items: center;
    img{
        width: 15rem;
    }
}
.b6{
    text-align: start;
    img{
        margin-top: .5rem;
        width: 15rem;
    }
    h1{
        font-size: 3rem;
        font-weight: 500;
    }
}
.b7{
    grid-area: b7;
    background-color: var(--Yellow-100);
    img{
        width: 12rem;
    }
}

.b8{
    grid-area: b8;
    img{
        width: 80%;
    }
}

@media(min-width:64.0625rem){
    .bento{
        grid-template-columns: repeat(4 , 1fr);
        grid-template-areas: 
        "b7 b1 b1 b4"
        "b7 b2 b3 b4"
        "b8 b2 b3 b4"
        "b8 b6 b5 b5"
    }
    .box{
        justify-content: center;
    }
    
    .b2{
        overflow: hidden;
    }
    .b2 img{
            width: 149%;
            height: auto;
    }
    .b4{
        overflow: hidden;
        gap: 1.5rem;
        text-align: start;
        img{
            width: 150%;
            margin-inline-end: -3rem;
        }
    }
    .b5{
        flex-direction: row;
    }
    .b7 , .b8{
        justify-content: center;
        img{
            width: 100%;
        }
    }
    
}


@media (min-width: 480px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "b1 b1 b1 b1"
      "b2 b2 b7 b7"
      "b6 b6 b3 b3"
      "b4 b4 b8 b8"
      "b5 b5 b5 b5";
  }
  .b1 {
   img {
    width: 10rem;
  }
  h1 {
    text-align: center;
  }
}
  .b5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .b6 {
    padding: 1.5rem;
    h2 {
     font-size: 2.5rem;
  }
  img {
    width: 200px;
  }
 }

}